@model Investor.Model.PostPreview
@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
@{
    string publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
}
<a href="/post/@Model.PostId">
    <div class="img-eclipse">
        <img src="~/@ImagePath.GetImagePath(Model.Image, Model.PostId, "large-")" class="img-fluid" />
        <div class="body-popular-news">
            <span href="/post/@Model.PostId" class="title-popular-news color-white">@Model.Title</span>
            <span class="data-popular-news other-days">@publishedTime</span>
        </div>
    </div>
</a>
