@model Investor.Model.PostPreview
@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
@inject Investor.Service.Utils.UrlService UrlService

@{
    var publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
    var fullPostRelativePath = UrlService.GetPostRelativePath(Model);
    var imagePath = ImagePath.GetImagePath(Model.Image, Model.PostId, "large-");
}
<a href="@fullPostRelativePath">
    <div class="img-eclipse">
        <img src="~/@imagePath" class="img-fluid" />
        <div class="body-popular-news">
            <span href="@fullPostRelativePath" class="title-popular-news color-white">@Model.Title</span>
            <span class="data-popular-news other-days">@publishedTime</span>
        </div>
    </div>
</a>
