@model Investor.Model.PostPreview
@inject Investor.Service.TimeService PostPublicationDate
@inject Investor.Service.ThemeService CategoryStyle
@{
    string publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
    string cssTimeStyle = CategoryStyle.categoryPublishedTimeTheme[ViewBag.CategoryName];
}
<div class="item-news item-all-news col-12">
    <div class="img-news">
        <img src="img/@Model.Image" class="img-fluid" />
    </div>
    <div class="body-all-news">
        <a href="#" class="title-news">
            @Model.Title
        </a>
        <p class="text-news">
            @Model.Description
        </p>
        <span class="today-item-news @cssTimeStyle">@publishedTime</span>
    </div>
</div>