
@using Investor.Model

<section class="section-popular-news">
    <div class="container">
        <div class="row">
            @for(int i=0; i<2; i++)
            {
                @Html.Partial("_LargePopularPost", ViewBag.CategoryPopularPosts[0] as Post)
            }

            @for (int i = 2; i < ViewBag.CategoryPopularPosts.Count; i++)
            {
                @Html.Partial("_SmallPopularPost", ViewBag.CategoryPopularPosts[0] as Post)
            }
        </div>
    </div>
</section>

<section class="section-all-news">
    <div class="container">
        <div class="row">
            @Html.Partial("_CategoryPosts", ViewBag.CategoryPosts as IEnumerable<Post>)
            <div class="col-lg-4 pl-lg-2  p-0 pr-0">
                @Html.Partial("../Home/_LatestMewsPreviewTemplate.cshtml", ViewBag.LatestPosts as IEnumerable<PostPreview>)
            </div>
        </div>
    </div>
</section>

<script src="js/allscripts.min.js"></script>
<!--<script src="libs/jquery/dist/jquery.min.js"></script>
   <script src="libs/popper.js/dist/umd/popper.min.js"></script>
   <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="js/script.js"></script>-->
