@using Investor.Model
@model BlogPreview
@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath

<div class="item-my-post col-12">
    <div class="img-news">
        <a href="/blog/page/@Model.PostId">
            <img src="~/@ImagePath.GetImagePath(Model.Image, Model.PostId, "small-")" class="img-fluid rounded-circle">
        </a>
    </div>
    <div class="body-all-news">
        <a href="/blog/page/@Model.PostId" class="title-news">@Model.Title</a>
        <p class="text-news">@Model.Description</p>
        <span class="blog-today-color">@PostPublicationDate.GetFormattedDate(Model.PublishedOn)</span>
    </div>
</div>