@using Investor.Model
<section class="page-search">
    
    <div class="container">
        <div class="row">
            
            <div class="col-lg-8 p-3 p-md-0">
                <div class="input-group form-search-2">
                    <input type="text" class="form-control" placeholder="Пошук">
                    <span class="input-group-btn">
                        <button class="btn" type="button"><i class="icons icon-search"></i></button>
                    </span>
                </div>
            </div>

            <h1 class="title-page-search p-3 p-md-0">Результати пошуку за запитом “Шось”</h1>

            <div class="search-filter">
                <div class="dropdown filter-dropdown float-left">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Категорія
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Політика</button>
                        <button class="dropdown-item" type="button">Соціум</button>
                        <button class="dropdown-item" type="button">Культура</button>
                    </div>
                </div>
                <div class="float-left">
                    <div class="input-group filter-datepicker">
                        <span class="input-group-btn">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                        <input type="text" id="my-datepicker" class='my-datepicker'/>
                    </div>
                </div>
            </div>

            @Html.Partial("_SearchResultTemplate", ViewBag.SearchResults as IEnumerable<PostPreview>)

            <div class="wrapper-btn-more bnt-more-search">
                <a href="#" class="btn-more mx-auto"><span class="circle circle-default-color"><i class="icons icon-arrow-down"></i></span>Більше новин</a>
            </div>

        </div>
    </div>

</section>
