@using Investor.Model
@using Investor.ViewModel
@model IEnumerable<PostPreview>
@{
    var query = ViewBag.Query as PostSearchQueryViewModel;
    var categoryName = ViewBag?.CategoryName?.Name;
}
<section class="page-search">

    <div class="container">
        <div class="row">

            <div class="col-lg-8 p-3 p-md-0">
                <form id="searchForm" action="/" method="post">
                    <div class="input-group form-search-2">
                        <input id="postTextQuery" type="text" class="form-control" placeholder="Пошук" value="@query?.Query">
                        <span class="input-group-btn">
                            <button class="btn" type="submit"><i class="icons icon-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>



            <h1 class="title-page-search p-3 p-md-0" data-category-url="@query?.CategoryUrl" data-query="@query?.Query" data-tag="@query?.Tag">Результати пошуку за запитом "@query?.Query"</h1>

            <div class="search-filter">
                <div class="dropdown filter-dropdown float-left">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @(categoryName != null ? categoryName : Html.Raw("Все"))
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" data-category-url="">Все</button>
                        <button class="dropdown-item" type="button" data-category-url="policy">Політика</button>
                        <button class="dropdown-item" type="button" data-category-url="it">ІТ технології</button>
                        <button class="dropdown-item" type="button" data-category-url="culture">Культура</button>
                        <button class="dropdown-item" type="button" data-category-url="economy">Економіка</button>
                        <button class="dropdown-item" type="button" data-category-url="blog">Блог</button>
                    </div>
                </div>
                <div class="float-left">
                    <div class="input-group filter-datepicker">
                        <span class="input-group-btn">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                        <input type="text" hidden class="date" value="@(ViewData.ContainsKey("Date") ? ViewBag.Date : "")">
                        <input type="text" id="my-datepicker" class="my-datepicker" />
                    </div>
                </div>
            </div>

            <div id="searchResultContainer">
                @Html.Partial("_SearchResultTemplate", Model as IEnumerable<PostPreview>)
            </div>
            @if (ViewBag.GetMoreEnabled)
            {
                <div class="wrapper-btn-more bnt-more-search">
                    <a id="moreSearchResult" href="/search/posts" class="btn-more text-center">
                        <span class="circle circle-default-color">
                            <i class="icons icon-arrow-down"></i>
                        </span>Більше новин
                    </a>
                </div>

            }

        </div>
    </div>

</section>
