@using Investor.Model
@using Investor.ViewModel
@model IEnumerable<PostPreview>
@{
    PostSearchQuery query = ViewBag.Query as PostSearchQuery;
    dynamic categoryName = ViewBag?.CategoryName?.Name;
}
<section class="page-search">

    <div class="container">
        <div class="row">

            <h1 class="title-page-search p-3 p-md-0" data-category-url="@query?.CategoryUrl" data-tag="@query?.Tag">Результати пошуку за запитом #@query?.Tag</h1>
            <div class="search-filter">
                <div class="dropdown filter-dropdown float-left">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @(categoryName != null ? categoryName : Html.Raw("Все"))
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" data-category-url="">Все</button>
                        <button class="dropdown-item" type="button" data-category-url="policy">Політика</button>
                        <button class="dropdown-item" type="button" data-category-url="it">ІТ технології</button>
                        <button class="dropdown-item" type="button" data-category-url="culture">Культура</button>
                        <button class="dropdown-item" type="button" data-category-url="economy">Економіка</button>
                        <button class="dropdown-item" type="button" data-category-url="blog">Блог</button>
                    </div>
                </div>
            </div>

            <div id="searchResultContainer">
                @Html.Partial("_SearchResultTemplate", Model)
            </div>

            @if (ViewBag.GetMoreEnabled)
            {
                <div class="wrapper-btn-more bnt-more-search">
                    <a id="moreSearchResult" href="/search/posts" class="btn-more text-center">
                        <span class="circle circle-default-color">
                            <i class="icons icon-arrow-down"></i>
                        </span>Більше новин
                    </a>
                </div>

            }

        </div>
    </div>

</section>