@using Investor.Model
@inject Investor.Service.Interfaces.ICategoryService CategoryService
<div class="footer-top">
    <div class="container">
        <div class="row justify-content-between d-xs-block">
            <div class="wrapper-btn-all-news">
                <a href="/lastnews" class="btn-default text-center">Дивитися всі новини</a>
            </div>

            <div class="wrapper-subscribe-news d-flex justify-content-between">
                <p class="text-sm-right">
                    Підпишіться на нашу розсилку і будьте <br>
                    в курсі всіх популярних подій
                </p>
                <div class="input-group subscribe-news">
                    <input type="text" class="form-control" placeholder="Ваш email" aria-label="Ваш email">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="icons icon-arrow-down"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-sm-0">
                <a href="#" class="logo"><img src="~/img/logo.png" /></a>
                <p class="footer-text col-md-8 p-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                </p>
                <span class="footer-email">somemail@gmail.com</span>
            </div>
            <div class="col-md-4 col-sm-6 p-sm-0">
                <span class="footer-title">Категорії</span>
                <ul class="nav-footer">
                    @{ IEnumerable<Category> categories = CategoryService.GetAllCategoriesAsync().Result;
                        foreach (var category in categories)
                        {
                            <li><a href="/@category.Url">@category.Name</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="wrapper-footer-social col-md-2 col-sm-6 p-sm-0">
                <span class="footer-title">Соціальні мережі</span>
                <ul class="social">
                    <li>
                        <a href="#"><i class="fa fa-youtube-play color-default" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-facebook color-default" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter color-default" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope color-default" aria-hidden="true"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>