<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col p-0 header-block-left">
                <div id="data"></div>
                <div class="wrapper-exchange-rate">
                    <span class="exchange-rate color-white-70">USD&nbsp;&nbsp;&nbsp; 25.55</span>
                    <span class="exchange-rate color-white-70">EUR&nbsp;&nbsp;&nbsp; 29.56</span>
                </div>
            </div>
            <div class="col p-0">
                <ul class="social float-right">
                    <li>
                        <a href="#"><i class="fa fa-youtube-play color-white" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-facebook color-white" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter color-white" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<nav class="bg-white">
    <div class="container">
        <div class="row">
            <div class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#"><img src="~/img/logo.png" alt="Logo"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/home/index">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category/politics">Політика</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category/politics">Соціум</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category/culture">Культура</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category/economics">Економіка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category/it">IT технології</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category/politics">Блоги</a>
                        </li>
                    </ul>
                    <form class="form-inline form-search">
                        <input class="form-control" type="text" placeholder="Пошук" aria-label="Search">
                        <button class="btn btn-search" type="submit"><i class="icons icon-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>