@model Investor.Model.PostPreview
@inject Investor.Service.TimeService PostPublicationDate
<div class="item-last-news">
    @{
        string classStyle = "";
        if (Model.IsImportant ?? false)
        {
            classStyle = "bold";
        }

    }
    <a bold href="/post/@Model.PostId" class="title-last-news @classStyle">
        @Model.Title
    </a>
    <span class="today-item-news @(ViewBag.IsBlog != null ? "blog" : "default")-today-color" > @PostPublicationDate.GetFormattedDate(Model.PublishedOn)</span>
</div>