<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Investor.Web</title>
    <meta property="fb:app_id" content="182308379009421" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.min.css">
</head>
<body>

    <header>@Html.Partial(ViewBag.Header as string ?? "_HeaderSection")</header>

    @RenderBody()

    <footer>@Html.Partial("_FooterSection")</footer>

    <script src="~/js/allscripts.min.js"></script>
    <script src="~/js/script.js"></script>

    <script src="~/lib/jquery-form-validator/form-validator/jquery.form-validator.js"></script>
    <script src="~/lib/air-datepicker/dist/js/datepicker.min.js"></script>

    <script src="~/js/htmlscripts.js"></script>

    <script src="~/js/metronic/bootstrap-tagsinput.js"></script>
    <script src="~/js/typeahead/typeahead.bundle.js"></script>

    <script src="~/js/tinymce/tinymce.min.js"></script>
    <script src="~/js/tinymce/themes/modern/theme.min.js" type="text/javascript"></script>
    <script src="~/js/tinymce/editor.js" type="text/javascript"></script>

    <script src="~/js/currency_converter.js"></script>
    <script src="~/js/social_networks.js"></script>
    <script src="~/js/post.js"></script>
    <script src="~/js/search.js"></script>
    <script src="~/js/account.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script> 
    
    


</body>
</html>
