@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Investor.Web</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        
    </nav>
<div class="container body-content">
    @RenderBody()
</div>
    

</body>
</html>
