<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Investor.Web</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.min.css">
    <script src="~/js/allscripts.min.js"></script>
    <script src="~/js/currency_converter.js"></script>
    <script src="~/js/social_networks.js"></script>
</head>
<body>

    <header>@Html.Partial("_HeaderSection")</header>

    @RenderBody()

    <footer>@Html.Partial("_FooterSection")</footer>

    <script src="~/js/allscripts.min.js"></script>
    <script src="~/js/post.js"></script>
</body>
</html>
