@model Investor.Model.PostPreview
@inject Investor.Service.TimeService PostPublicationDate
@{ 
    string publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
}

    <div class="item-popular-news">
        <img src="~/img/@Model.Image" class="img-fluid">
        <div class="body-popular-news">
            <a href="#" class="title-popular-news color-white">@Model.Title</a>
            <span class="data-popular-news today text-left">@publishedTime</span>
        </div>
    </div>

