@model Investor.Model.PostPreview
@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
@{
    string publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
}
<a href="/post/@Model.PostId">
    <div class="item-popular-news img-eclipse">

        <img src="~/@ImagePath.GetImagePath(Model.Image, Model.PostId, "medium-")" class="img-fluid">

        <div class="body-popular-news">
            <h3 href="/post/@Model.PostId" class="title-popular-news color-white">@Model.Title</h3>
            <span class="data-popular-news today text-left">@publishedTime</span>
        </div>
    </div>
</a>
