@model Investor.Model.PostPreview
@inject Investor.Service.TimeService PostPublicationDate
@{
    string publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
}
<a href="/post/@Model.PostId">
    <div class="item-popular-news img-eclipse">

        <img src="~/img/posts/@(System.IO.Path.GetFileNameWithoutExtension(Model.Image) + "/medium-" + Model.Image)" class="img-fluid">

        <div class="body-popular-news">
            <h3 href="/post/@Model.PostId" class="title-popular-news color-white">@Model.Title</h3>
            <span class="data-popular-news today text-left">@publishedTime</span>
        </div>
    </div>
</a>
