<header>
    <div class="top-header">
        <div class="container p-0">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse top-nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item header-titles">Середа 29.04.1995</li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <p class="nav-item header-titles m-auto pr-4">Username</p>
                        <button class="nav-item header-titles m-auto pl-2">Вийти</button>
                        <a href="#" class="btn p-0 m-auto"><i class="icons youtube ml-4"></i></a>
                        <a href="#" class="btn p-0 m-auto"><i class="icons facebook-logo ml-4"></i></a>
                        <a href="#" class="btn p-0 m-auto"><i class="icons twitter ml-4"></i></a>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="up-header">
        <div class="container p-0">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-down"
                        aria-controls="nav-down" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/admin"><img src="~/img/admin/Logo.png" alt="Logo" /></a>
                <div class="collapse navbar-collapse up-collapse justify-content-center" id="nav-down" data-interval="8000">
                    <ul class="navbar-nav">
                        <li class="nav-item active-main-page">
                            <a class="nav-link pl-0 ml-0 mr-5" href="#">Статистика </a>
                        </li>
                        <li class="nav-item dropdown active-item">
                            <a class="nav-link dropdown-toggle mr-5 " data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Контент</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item nav-link" data-type="news" data-href="/content/news" href="/admin#/content/news">Новини</a>
                                <a class="dropdown-item nav-link" data-type="blogs" data-href="/content/blogs" href="/admin#/content/blogs">Блоги</a>
                                <a class="dropdown-item nav-link" href="#">Коментарі</a>
                                <a class="dropdown-item nav-link" data-type="tags" data-href="/content/tags" href="/admin#/content/tags">Теги</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-type="users" data-href="/content/users" href="/admin#/content/users">Користувачі</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
