<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Metronic Admin Theme #1 | Admin Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />

    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="~/css/metronic/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/metronic/simple-line-icons.min.css" rel="stylesheet" />
        <link href="~/css/metronic/components-rounded.min.css" rel="stylesheet" />
        <link href="~/css/metronic/layout.min.css" rel="stylesheet" />
        <link href="~/css/metronic/darkblue.min.css" rel="stylesheet" />
        <link href="~/css/metronic/bootstrap-fileinput.css" rel="stylesheet" />
        <link href="~/css/metronic/bootstrap-tagsinput-typeahead.css" rel="stylesheet" />
        <link href="~/css/metronic/bootstrap-tagsinput.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <link href="~/css/metronic/bootstrap-modal-bs3patch.css" rel="stylesheet" />
        <link href="~/css/metronic/bootstrap-modal.css" rel="stylesheet" />*@

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link href="~/css/metronic/style.css" rel="stylesheet" />
    @*<link href="~/css/metronic/bootstrap-modal-bs3patch.css" rel="stylesheet" />
        <link href="~/css/metronic/bootstrap-modal.css" rel="stylesheet" />*@
</head>

<body>
    <header>
        @Html.Partial("_HeaderSection")
    </header>
    <div class=container>
        <div id="container">
            @RenderBody()
        </div>


    </div>

    @*admin-content scripts*@
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>




    <script>
        (function (w, d, s, g, js, fjs) {
            g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (cb) { this.q.push(cb) } };
            js = d.createElement(s); fjs = d.getElementsByTagName(s)[0];
            js.src = 'https://apis.google.com/js/platform.js';
            fjs.parentNode.insertBefore(js, fjs); js.onload = function () { g.load('analytics') };
        }(window, document, 'script'));
    </script>
    <script src="~/js/minify/alladminjs.min.js"></script>



</body>
</html>
