<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>

            <li class="nav-item start active open">
                <a href="#" class="nav-link nav-toggle">
                    <span class="title">Статистика</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
            </li>

            <li class="nav-item open">
                
                <a href="javascript:;" class="nav-link nav-toggle">
                    <span class="title">Контент</span>
                    <span class="arrow"></span>
                </a>

                <ul class="sub-menu">
                    
                    <li class="nav-item  ">
                        <a data-type="news" data-href="/content/news" href="/admin#/content/news" class="nav-link">
                            <span class="title nav-link">Новини</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a data-type="blogs" data-href="/content/blogs" href="#" class="nav-link ">
                            <span class="title">Блоги</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a data-type="comments" data-href="/content/comments" href="#" class="nav-link ">
                            <span class="title">Коментарі</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a data-type="tegs" data-href="/content/tegs" href="#" class="nav-link ">
                            <span class="title">Теги</span>
                        </a>
                    </li>

                </ul>
            </li>                     

            <li class="nav-item  ">
                <a href="#;" class="nav-link nav-toggle">
                    <span class="title">Користувачі</span>
                    <span class="arrow"></span>
                </a>
            </li>

        </ul>
    </div>
</div>