
<div class="wrapper-all-bloggers grid">
    @for (int i = 0; i < 10; i++)
    {
        <div class="item-blogger grid-item col-6 col-md-4 mb-4">
            <p class="letter">А</p>
            <ul class="wrapper-name-blogger">
                <li><a href="#" class="name-blogger">Мила Дівчинка</a></li>
            </ul>
        </div>
    }
</div>