@using Investor.Model
@model SortedDictionary<string, List<User>>
<div class="wrapper-all-bloggers grid">
    @foreach (var blogers in Model)
    {
        <div class="item-blogger grid-item col-6 col-md-4 mb-4">
            <p class="letter">@blogers.Key.ToUpper()</p>
            @foreach (User bloger in blogers.Value)
            {
            <ul class="wrapper-name-blogger">
                <li><a href="/blog/blogerpage/@bloger.UserName" class="name-blogger">@(bloger.Surname + " " + bloger.Name)</a></li>
            </ul>
            }
        </div>
    }
</div>