@model IEnumerable<Investor.Model.Category>

<div class="wrapper-tag-news">
    @foreach (var category in Model)
    {
        <a href="/category/@category.Url" class="tag-item">@category.Name</a>
    }
</div>