<div class="owl-carousel owl-theme carousel-top-blog">
    @for (int i = 0; i < 6; i++)
    {
        <div class="colum-slider">
            @for (int jIndex = 0; jIndex < 3; jIndex++)
            {
                <div class="sidebar-item-blog vertical">
                    <img src="img/blog-img-4.png" alt="" class="rounded-circle align-top">
                    <div class="sidebar-item-blog-body align-top">
                        <span class="author-blog">
                            Тарас Баранецький
                        </span>
                        <a href="#" class="title-blog">
                            Соціальний захист:
                            тонучий і бритви вхопиться
                        </a>
                        <span class="activity-level blog-today-color">Рівень активності 32</span>
                    </div>
                </div>
            }
        </div>
    }
</div>