@model List<Investor.Model.PopularUser>
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
@inject Investor.Service.Utils.UrlService UrlService



<div class="carousel-top-blog slick-carousel">
    @for (int i = 0; i < Model.Count / 3 + (Model.Count % 3 > 0 ? 1 : 0); i++)
    {
        <div class="colum-slider">
            @for (int jIndex = i * 3; jIndex < i * 3 + 3 && jIndex < Model.Count; jIndex++)
            {
                @Html.Partial("~/Views/Blog/_BlogerCarrouselTemplate.cshtml", Model[jIndex])
            }
        </div>
    }
</div>
<span class="paging-info paging-blog"></span>