@using Investor.ViewModel
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model UserPasswordChangeViewModel
<form id="updateUserPasswordForm" action="/Bloger/ChangePassword" method="post" class="validate">
    <div class="block-border-top default-border-color body-block block-edit edit-data">
        <div class="d-inline-block w-100"><button type="submit" class="btn btn-edit btn-save btn-edit-default pull-right">Зберегти</button></div>
        <div class="row inline-form">
            <input hidden name="Id" value="@Model.Id" />
            <div class="col-sm-4 form-group">
                <label>Введіть старий пароль</label>
                <input type="password" class="form-control focus-input focus-color-default" asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="col-sm-4 form-group">
                <label>Бажаєте змінити пароль?</label>
                <input type="password" class="form-control focus-input focus-color-default" asp-for="NewPassword" name="NewConfirmedPassword_confirmation" data-validation="length custom strength" data-validation-length="min8" data-validation-regexp="^([a-z, A-Z, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]+)$">
                <span asp-validation-for="NewPassword"></span>
                <label class="reliability">Надійність</label>
            </div>
            <div class="col-sm-4 form-group">
                <label>Повторіть ваш пароль</label>
                <input type="password" class="form-control focus-input focus-color-default" asp-for="NewConfirmedPassword" data-validation="confirmation">
                <span asp-validation-for="NewConfirmedPassword"></span>
            </div>
        </div>
    </div>
</form>