@model Investor.Model.Post
<div class="sidebar-item-blog vertical">
    <img src="images/blog-img-1.png" alt="" class="rounded-circle align-top" />
    <div class="sidebar-item-blog-body align-top">
        <span class="author-blog">
            Тарас Матвіїв
        </span>
        <h4 class="title-blog">
            Якась тема
        </h4>

        <span class="today-item-news default-today-color">Сьогодні, 14.09.2017</span>
    </div>
</div>
