<div class="sidebar-item-blog vertical">
    <img src="images/blog-img-1.png" alt="" class="rounded-circle align-top" />
    <div class="sidebar-item-blog-body align-top">
        <span class="author-blog">
            Ольга Федорончук
        </span>
        <h4 class="title-blog">Наука з буком: громадські 
            ініціативи та сміттєва 
            криза у Львові
        </h4>
        <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
    </div>
</div>
