@model Investor.Model.BlogPreview
@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath

<div class="sidebar-item-blog vertical">
    <a class="author-blog" href="/blog/blogerpage/@Model.Author.UserName">
        <img src="~/@ImagePath.GetAccountImagePath(Model.Author.Photo)" alt="" class="rounded-circle align-top" />
    </a>
    <div class="sidebar-item-blog-body align-top">
        <a class="author-blog" href="/blog/blogerpage/@Model.Author.UserName">
            @Model.Author.Name @Model.Author.Surname
        </a>
        <a class="title-blog" href="/blog/page/@Model.PostId">
            @Model.Title
        </a>
        <span class="today-item-news default-today-color">@PostPublicationDate.GetFormattedDate(Model.PublishedOn)</span>
    </div>
</div>
