@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
@using Investor.Model

<section class="section-carousel">
    <div class="container">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide carousel-main" data-ride="carousel">
                <div class="carousel-inner">
                    @for (int i = 0; i < ViewBag.SliderNews.Count; i++)
                    {
                        ViewBag.HomeCarouselCounter = i;
                        @Html.Partial("_SliderNewsPreviewTemplate", ViewBag.SliderNews[i] as PostPreview)
                    }

                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    @for (int i = 1; i < ViewBag.SliderNews.Count; i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                    }
                </ol>
            </div>
            <div class="wrapper-popular">
                @for (int i = 0; i < ViewBag.SideNews.Count; i++)
                {
                    @Html.Partial("_PopularPostPreviewTemplate", ViewBag.SideNews[i] as PostPreview)
                }
            </div>
        </div>
    </div>
</section>
