@model Investor.Model.Post
<div class="item-news col-md-6">
    <img src="images/@Model.Image" class="img-fluid" />
    <h3 class="title-news">
        @Model.Title
    </h3>
    <p class="text-news">
        @Model.Description
    </p>
    <span class="today-item-news politics-today-color">@Model.PublishedOn.DayOfWeek.ToString(), @Model.PublishedOn.TimeOfDay.ToString()</span>
</div>