<div class="item-news col-md-6">
    <img src="images/news-img-1.png" class="img-fluid" />
    <h3 class="title-news">
        В The Economist <br>
        вибачилися за фразу <br>
        «громадянська війна на Донбасі»
    </h3>
    <p class="text-news">
        The Economist Intelligence Unit, дослідницька
        організація The Economist Group, вибачилася
        за фразу «громадянська війна”,
    </p>
    <span class="today-item-news politics-today-color">Сьогодні, 12:43</span>
</div>