@model Investor.Model.PostPreview
@inject Investor.Service.TimeService PostPublicationDate
@inject Investor.Service.Interfaces.IImagePathService ImagePath

@{
    string publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
}

<div class="item-news col-md-6">
    <div class="img-news">
        <a href="/post/@Model.PostId">
            <img src="~/@ImagePath.GetImagePath(Model.Image, Model.PostId, "large-")" class="img-fluid" />
        </a>
    </div>
    <a href="/post/@Model.PostId" class="title-news">
        @Model.Title
    </a>
    <p class="text-news">
        @Model.Description
    </p>
    <span class="today-item-news @Model.Category.Url-today-color">@publishedTime</span>
</div>