@model Investor.Model.PostPreview
@inject Investor.Service.TimeService PostPublicationDate
@inject Investor.Service.ThemeService CategoryStyle

@{
    string cssTimeStyle = CategoryStyle.categoryPublishedTimeTheme[Model.Category.Url];
    string publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
}

<div class="item-news col-sm-6 col-md-4">
    <div class="img-news">
        <img src="~/images/@Model.Image" class="img-fluid" />
    </div>
    <a href="#" class="title-news">@Model.Title</a>
    <span class="today-item-news @cssTimeStyle">@publishedTime</span>
</div>
