@model Investor.Model.Post
<div class="item-news inline-item-news">
    <img src="images/news-img-economy-2.png" class="img-fluid"/>
    <h3 class="title-news">@Model.Title</h3>
    <span class="today-item-news economy-today-color">Сьогодні, 12:43</span>
</div>
