@model Investor.Model.PostPreview
@inject Investor.Service.TimeService PostPublicationDate

@{
    string publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
}
<div class="item-news inline-item-news">
    <div class="img-news col-sm-6">
        <img src="~/img/@Model.Image" class="img-fluid" />
    </div>
    <a href="/post/@Model.PostId" class="title-news">@Model.Title</a>
    <span class="today-item-news @Model.Category.Url-today-color">@publishedTime</span>
</div>
