@model Investor.Model.PostPreview
@inject Investor.Service.TimeService PostPublicationDate
@inject Investor.Service.Interfaces.IImagePathService ImagePath
@{
    string publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
}
<div class="item-news inline-item-news">
    <div class="img-news min-img-news">
        <a href="/post/@Model.PostId">
            <img src="~/@ImagePath.GetImagePath(Model.Image, Model.PostId, "medium-")" class="img-fluid" />
        </a>
    </div>
    <a href="/post/@Model.PostId" class="title-news">@Model.Title</a>
    <span class="today-item-news @Model.Category.Url-today-color">@publishedTime</span>
</div>
