@using Investor.Model.Views
@using Investor.Model
@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("_HomeCarouselTemplate");

<section class="section-main">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 pl-0 p-0 pr-lg-2">

                @foreach (CategoryPreviewViewModel news in ViewBag.News as IEnumerable<CategoryPreviewViewModel>)
                {
                    @Html.Partial("_CategoryPreviewTemplate", news)
                }

            </div>

            <div class="col-lg-4 pl-lg-2  p-0 pr-0">

                @Html.Partial("_LastNewsPreviewTemplate", ViewBag.LatestPosts as IEnumerable<PostPreview>)
                <div class="sidebar-blog">
                    <div class="sidebar-blog-body block-border-top default-border-color">
                        <h2 class="title-block">Блоги</h2>
                        <div class="wrapper-itrm-blog">
                            @foreach(BlogPreview blog in ViewBag.Blogs)
                            {
                                @Html.Partial("_BlogPreviewTemplate",  blog)
                            }
                        </div>
                        <a href="/blog" class="btn-more"><span class="circle circle-default-color"><i class="icons icon-arrow-down"></i></span>Більше новин</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>