@using Investor.Model
@model BlogPreview
@inject Investor.Service.TimeService PostPublicationDate
@inject Investor.Service.Interfaces.IImagePathService ImagePath

<div class="item-my-post body-block block-border-top default-border-color">
    <div class="col-12">
        <div class="img-news">
            <img src=~/@ImagePath.GetImagePath(Model.Image, Model.PostId, "small-")" class="img-fluid rounded-circle">
        </div>
        <div class="body-all-news">
            <a href="/blog/page/@Model.PostId" class="title-news">@Model.Title</a>
            <p class="text-news">@Model.Description</p>
            <span class="default-today-color">@PostPublicationDate.GetFormattedDate(Model.PublishedOn)</span>
        </div>
        <a href="/Account/UpdatePost/@Model.PostId" class="btn btn-edit btn-edit-default pull-right">Редагувати<i class="icons icon-pencil-default"></i></a>
    </div>
</div>

