@model Investor.Model.Blog
@using Investor.Model
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
<section class="section-create-post">
    <div class="container">
        <form id="createUserPostForm" action='/Account/@(Model == null ? "CreatePost" : "UpdatePost")'>
            <div class="row">
                <div class="col-lg-8 pl-0 p-0 pr-lg-2">
                    <div class="body-block block-border-top default-border-color">
                        <h2 class="title-block">@(Model == null ? "Створити" : "Редагувати") статтю</h2>
                        <input type="text" hidden asp-for="PostId">
                        <div class="form-group">
                            <label asp-for="Title">Заголовок</label>
                            <input asp-for="Title" name="Title" class="form-control focus-input focus-color-default" data-validation="required" data-validation-error-msg-required="Це обов'язкове поле">
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Короткий опис</label>
                            <textarea asp-for="Description" name="Description" class="form-control focus-input focus-color-default" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="Article">Текст статті</label>
                            <textarea asp-for="Article" id="createUserPost" class="form-control focus-input focus-color-default"></textarea>
                        </div>
                        <div class="d-inline-block w-100 mt-3">
                            <button type="submit" class="btn btn-second mr-4">@(Model == null ? "Створити" : "Зберегти") запис</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pl-lg-2  p-0 pr-0">
                    <div class="body-block block-border-top default-border-color">
                        <h2 class="title-block">Опишіть деталі</h2>
                        <div class="form-group">
                            <label asp-for="Image">Завантажте фотографію</label>
                            <div class="input-group input-file">
                                <span class="input-group-btn">
                                    <span class="btn btn-second btn-file">
                                        Вибрати файл <input asp-for="Image" type="file" id="imgInp">
                                    </span>  
                                </span>
                                <input type="text" class="form-control" readonly="">
                            </div>
                            <img id="imgPrev" src="@(Model  == null ? "/img/no-img/no-img-blog.png" : ("/" + ImagePath.GetImagePath(Model.Image, Model.PostId)))" class="w-100">
                        </div>
                        
                        <div class="form-group">
                            <label>Опишіть що тут зображено</label>
                            <input type="text" class="form-control focus-input focus-color-default">
                        </div>
                        @{
                            string tags = "";
                            if (ViewData.ContainsKey("Tags"))
                            {
                                foreach (Tag tag in ViewBag.Tags)
                                {
                                    tags += tag.Name + ",";

                                }
                            }
                        }
                        <div class="form-group">
                            <label asp-for="Tags">Додайте теги</label>                             
                            <input id="userPostTags" type="text" class="form-control form-control-tags focus-input focus-color-default" placeholder="tags" value="@tags">                        
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

