@model Investor.Model.Post

<div class="page-content page-post">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Dashboard</span>
            </li>
        </ul>
    </div>
    <h1 class="page-title">
        Admin Dashboard
        <small>statistics, charts, recent events and reports</small>
    </h1>


    <div class="form-group form-md-line-input form-md-floating-label has-info">
        <input type="text" class="form-control" id="form_control_1" value="@Model.Title" name="Title">
        <label for="form_control_1">Назва</label>
    </div>
    <div class="form-group form-md-line-input form-md-floating-label has-info">
        <textarea class="form-control" id="form_control_1" name="Article">@Model.Description</textarea>
        <label for="form_control_1">Опис</label>
    </div>
    <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
            <img src="@(Model.Image!=String.Empty ? ("~/../../../../img/" + Model.Image) : "http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image")" alt="" />
        </div>
        <div>
            <span class="btn red btn-outline btn-file">
                <span class="fileinput-new"> Вибрати світлину </span>
                <span class="fileinput-exists"> Змніити </span>
                <input type="file" name="...">
            </span>
            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Видалити </a>
        </div>
    </div>

    <textarea class="text-editor">@Model.Article.Content</textarea>
</div>

