<div class="page-content page-post">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Dashboard</span>
            </li>
        </ul>
    </div>
    <h1 class="page-title">
        Admin Dashboard
        <small>statistics, charts, recent events and reports</small>
    </h1>


    <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
        </div>
        <div>
            <span class="btn red btn-outline btn-file">
                <span class="fileinput-new"> Вибрати світлину </span>
                <span class="fileinput-exists"> Змніити </span>
                <input type="file" name="...">
            </span>
            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Видалити </a>
        </div>
    </div>

    <textarea></textarea>
</div>

