<div class="page-content-wrapper">
    <div class="page-content">
        
        <table id="blogsTable" class="display">
            <thead>
            <tr>
                <th></th>
                <th>Назва</th>
                <th>Дата публікації</th>
                <th>Категорія</th>
                <th>Опубліковано</th>
                <th>На головінй сторінці</th>
                <th>Важливий</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>