<div class="page-content-wrapper">
    <div class="page-content">
        
        <table id="blogsTable" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Назва</th>
                <th>Автор</th>
                <th>Дата створення</th>
                <th>Опубліковано</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>