<div class="page-content-wrapper">
    <div class="page-content">
        <a data-type="create" class="nav-link btn btn-success" data-href="/content/create">Додати</a>
        <a data-type="update" class="nav-link btn btn-success" data-href="/api/content/UpdateTablePost">Зберегти</a>
        <table id="newsTable" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Назва</th>
                    <th>Дата публікації</th>
                    <th>Категорія</th>
                    <th>Опубліковано</th>
                    <th>На головінй сторінці</th>
                    <th>Важливий</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

