<table id="newsTable" class="display">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>Назва</th>
        <th>Дата публікації</th>
        <th>Категорія</th>
        <th>Опубліковано</th>
        <th>На головінй сторінці</th>
        <th>Важливий</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>