<div class="sidebar-right">
    <button type="button" class="btn green-meadow" style="width: 100%">Перейти до поста</button>
    <button type="button" class="btn yellow-crusta" style="width: 100%">Відмінити публікацію</button>
    <button type="button" class="btn blue-madison" style="width: 100%">Зберегти</button>
    <button type="button" class="btn grey-cascade" style="width: 100%">Відмінити</button>

    <div class="newpost-widget">
        <label class="newpost-widget-title ng-binding">Метки</label>
        <div class="post-tags-selector">
            <div class="dropdown-menu open" role="combobox" style="max-height: 567px; overflow: hidden; min-height: 0px;">
                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 565px; overflow-y: auto; min-height: 0px;">
                    <li data-original-index="0" class="">
                        <a tabindex="0" class="" style="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                            <span class="text">Mustard</span>
                            <span class="fa fa-check check-mark"></span>
                        </a>
                    </li>
                    <li data-original-index="1" class="">
                        <a tabindex="0" class="" style="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                            <span class="text">Ketchup</span>
                            <span class="fa fa-check check-mark"></span>
                        </a>
                    </li>
                    <li data-original-index="2" class="selected">
                        <a tabindex="0" class="" style="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                            <span class="text">Relish</span>
                            <span class="fa fa-check check-mark"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <select class="bs-select form-control" tabindex="-98">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
        </div>
    </div>
    <div id="the-basics">
        <input id="tagTypeahead" class="typeahead" type="text" placeholder="States of USA " data-role="tagsinput" />
    </div>
</div>