@*<div class="page-content-wrapper">
    <div class="page-content">
        <button class="nav-link btn btn-danger delete tags" data-toggle="modal" href="#deleteTags" disabled="disabled">Видалити</button>
        <button class="nav-link btn btn-success" data-toggle="modal" href="#createTag">Додати</button>
        <table id="tagsTable" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Назва</th>
                    <th>Кількість постів</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

<!-- responsive -->
<div id="updateTag" class="modal fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Редагування</h4>
    </div>
    <form id="tag-update" class="tagForm">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>Назва тегу</h4>
                    <input hidden name="TagId">
                    <input hidden name="Url">
                    <p>
                        <input class="form-control" type="text" name="Name">
                    </p>

                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Відмінити</button>
        <button type="button" form="tag-update" class="tag-update btn green" data-href="/api/TagsApi/UpdateTag" data-dismiss="modal">Зберегти</button>
    </div>
</div>


<!-- responsive -->
<div id="createTag" class="modal fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Створення</h4>
    </div>
    <form id="tag-create" class="tagForm">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>Назва тегу</h4>
                    <p>
                        <input class="form-control" type="text" name="Name"/>
                    </p>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Відмінити</button>
        <button type="button" form="tag-create" class="tag-update btn green" data-href="/api/TagsApi/CreateTag" data-dismiss="modal">Зберегти</button>
    </div>
</div>


<!-- responsive -->
<div id="deleteTags" class="modal fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Видалення</h4>
    </div>
    <form id="tag-delete" class="tagForm">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 id="question"></h4>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Відмінити</button>
        <a data-type="delete" class="nav-link btn btn-danger tags" data-href="api/TagsApi/RemoveTag" data-dismiss="modal">Видалити</a>
    </div>
</div>*@

<div class="container">
    <div class="row mb-5 mt-5">
        <button class="btns btn-red mr-5 delete tags" data-toggle="modal" data-target="#deletetag"  href="#deleteTags" disabled="disabled">Видалити тег</button>
        <button class="btns btn-dark" data-toggle="modal" data-target="#createTag" href="#createTag">Додати тег</button>
    </div>
    <table id="tagsTable" class="table table-striped table-bordered nowrap" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Назва</th>
                <th>Кількість постів</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="modal fade" id="deletetag" tabindex="-1" role="dialog" aria-labelledby="deletetag"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Видалення</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="tag-delete" class="tagForm">
                        <div class="form-group">
                            <p id="question"></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
                    <a type="button" data-type="delete" class="btn btn-primary nav-link tags" data-dismiss="modal"  data-href="api/TagsApi/RemoveTag">Видалити</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createTag" tabindex="-1" role="dialog" aria-labelledby="createTag" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Створення</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="tag-create" class="tagForm">
                        <div class="form-group">
                            <label class="col-form-label">Назва тегу:</label>
                            <input type="text" class="form-control" name="Name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
                    <button type="button" class="btn btn-primary tag-update" form="tag-create" data-href="/api/TagsApi/CreateTag" data-dismiss="modal">Зберегти</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editTag" tabindex="-1" role="dialog" aria-labelledby="editTag" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Редагування</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="tag-update" class="tagForm">
                        <div class="form-group">
                            <label class="col-form-label">Назва тегу:</label>
                            <input hidden name="TagId">
                            <input hidden name="Url">
                            <p>
                                <input class="form-control" type="text" name="Name">
                            </p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
                    <button type="button" class="btn btn-primary tag-update"  data-dismiss="modal" form="tag-update" data-href="/api/TagsApi/UpdateTag">Зберегти</button>
                </div>
            </div>
        </div>
    </div>
</div>