<div class="page-content-wrapper">
    <div class="page-content">

        <table id="tagsTable" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Назва</th>
                    <th>Кількість постів</th>
                    <th>Видалити<th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

<!-- responsive -->
<div id="updateTag" class="modal fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Редагування</h4>
    </div>
    <form id="tag-update">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>Назва тегу</h4>
                    <input hidden name="TagId">
                    <input hidden name="Url">
                    <p>
                        <input class="form-control" type="text" name="Name">
                    </p>

                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Відмінити</button>
        <button type="button" form="tag-update" id="tag-update-submit" data-dismiss="modal" class="btn green">Зберегти</button>
    </div>
</div>


<!-- responsive -->
<div id="deleteTag" class="modal fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Видалення</h4>
    </div>
    <form id="tag-delete">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>Ви дійсно хочете видалити тег?</h4>
                    <input hidden name="TagId">
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Відмінити</button>
        <button type="button" form="tag-delete" id="tag-delete-submit" data-dismiss="modal" class="btn btn-danger">Видалити</button>
    </div>
</div>
