<div class="page-content-wrapper">
    <div class="page-content">

        <table id="tagsTable" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Назва</th>
                    <th>Кількість постів</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

