<div class="row mb-5 mt-5">
    <a class="btns btn-dark nav-link" data-type="update" data-href="/api/UsersApi/UpdateTableUsers"> Зберегти </a>
</div>


<table id="usersTable" class="table table-striped table-bordered nowrap" cellspacing="0">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>Прізвище Ім'я</th>
        <th>Нікнейм</th>
        <th>Електронна пошта</th>
        <th>Активність</th>
        <th>Роль</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

