@model Investor.Model.Post
<form method="post" id="updateForm" enctype="multipart/form-data">
    <fieldset>
        <div class="page-content-wrapper">
            @Html.Partial("_AddUpdatePost", Model)
        </div>
        @Html.Partial("_RightSideBar", Model)
    </fieldset>
</form>
