@using Investor.Model
@model Investor.Model.Post
<form method="post" id="updateForm" class = "updateForm" enctype="multipart/form-data">
    <fieldset>
        <div class="page-content-wrapper">
            @Html.Partial("_AddUpdatePost", Model as Post)
        </div>
        @Html.Partial("_RightSideBar", Model as Post)
    </fieldset>
</form>
