@model IEnumerable<Investor.Model.Tag>

<div class="block-border-top default-border-color last-news mb-3">
    <div class="wrapper-tag-news">
        @foreach (var tag in Model)
        {
            <a asp-controller="Search" asp-action="SearchByTag" asp-route-tag="@tag.Name" class="tag-item">@tag.Name</a>
        }
    </div>
</div>