@using Investor.Model
@model IEnumerable<PostPreview>


    @foreach (PostPreview post in Model)
    {
        <div class="item-carousel">
            @Html.Partial("_PopularPostPreviewTemplate", post)
        </div>
    }


