@using Investor.Model
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Investor</title>
    <meta property="og:url" content="http://www.your-domain.com/your-page.html" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Your Website Title" />
    <meta property="og:description" content="Your description" />
    <meta property="og:image" content="http://www.your-domain.com/path/image.jpg" />
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="canonical" href="/web/tweet-button">
    <link rel="me" href="https://twitter.com/twitterdev">
</head>

<section class="card-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-sm-0 pr-lg-2">
                @Html.Partial("_PostTemplate", ViewBag.Post as Post)
            </div>
            <div class="col-lg-4 pl-lg-2  p-0 pr-0">
                <div class="block-border-top default-border-color last-news mb-3">
                    <div class="wrapper-tag-news">
                        <a href="#" class="tag-item">Ураган Ірма</a>
                        <a href="#" class="tag-item">Саакашвіллі і Львів</a>
                        <a href="#" class="tag-item">Культурний вибух</a>
                        <a href="#" class="tag-item">Політична течія</a>
                        <a href="#" class="tag-item">Теракт у центрі Києва</a>
                    </div>
                </div>


                <div class="block-border-top default-border-color last-news mb-0">
                    <h2 class="title-block">Останні новини</h2>
                    <div class="wrapper-last-news">
                        <div class="item-last-news">
                            <a href="#" class="title-last-news">
                                Уникальный шанс: как "спроектировать"
                                свое будущее во время солнечного затмения
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news">
                                У «Борисполі» хочуть збудувати ще одну
                                злітну смугу
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news">
                                Комісія ЛОР з питань культури ініціює
                                «круглий стіл» щодо ситуації з Львівською
                                галереєю мистецтв
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news bold">
                                Чому Україна програла від «журналістського
                                розслідування» The New York Times.
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news">
                                На ярмарку «Добрі традиції Галичини»
                                розіграють барана
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news">
                                У Львові за 288 тисяч гривень
                                відреставрують 4 балкони (фото)
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news bold">
                                ЛМКП «Львівводоканал» закликає
                                львів’ян оплатити за холодну воду
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news">
                                Майстер шиномонтажу, відремонтувавши
                                "Богдан" виноградівця, перепродав його
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news">
                                Через День Незалежності поліція переходить
                                на посилений варіант несення служби
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news bold">
                                Уникальный шанс: как "спроектировать"
                                свое будущее во время солнечного затмения
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news bold">
                                У «Борисполі» хочуть збудувати ще одну
                                злітну смугу
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news">
                                Комісія ЛОР з питань культури ініціює
                                «круглий стіл» щодо ситуації з Львівською
                                галереєю мистецтв
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news bold">
                                Чому Україна програла від «журналістського
                                розслідування» The New York Times.
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news">
                                На ярмарку «Добрі традиції Галичини»
                                розіграють барана
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                        <div class="item-last-news">
                            <a href="#" class="title-last-news">
                                У Львові за 288 тисяч гривень
                                відреставрують 4 балкони (фото)
                            </a>
                            <span class="today-item-news default-today-color">Сьогодні,  12:43</span>
                        </div>
                    </div>
                    <a href="#" class="btn-more"><span class="circle circle-default-color"><i class="icons icon-arrow-down"></i></span>Більше новин</a>
                </div>
            </div>
            <div class="col-sm-12 p-0 mt-3">
                <span class="title-block d-block title-block-border-b pb-2 mb-3">Популярне по темі</span>
                <div class="owl-carousel owl-theme carousel-popular-theme">
                    <div class="item-carousel">
                        <div class="item-popular-news">
                            <img src="img/img-popular.jpg" class="img-fluid">
                            <div class="body-popular-news">
                                <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                                <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-carousel">
                        <div class="item-popular-news">
                            <img src="img/img-popular.jpg" class="img-fluid">
                            <div class="body-popular-news">
                                <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                                <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-carousel">
                        <div class="item-popular-news">
                            <img src="img/img-popular.jpg" class="img-fluid">
                            <div class="body-popular-news">
                                <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                                <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-carousel">
                        <div class="item-popular-news">
                            <img src="img/img-popular.jpg" class="img-fluid">
                            <div class="body-popular-news">
                                <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                                <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-carousel">
                        <div class="item-popular-news">
                            <img src="img/img-popular.jpg" class="img-fluid">
                            <div class="body-popular-news">
                                <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                                <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-carousel">
                    <div class="item-popular-news">
                    <img src="img/img-popular.jpg" class="img-fluid">
                    <div class="body-popular-news">
                    <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                    <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                    </div>
                    </div>
                    </div>
                    <div class="item-popular-news">
                        <img src="img/img-popular.jpg" class="img-fluid">
                        <div class="body-popular-news">
                            <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                            <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p-0 mt-3">
                <span class="title-block d-block title-block-border-b pb-2 mb-3">Вибір редакції</span>
                <div class="owl-carousel owl-theme carousel-editorial-choice">
                    <div class="item-carousel">
                        <div class="item-popular-news">
                            <img src="img/img-popular.jpg" class="img-fluid">
                            <div class="body-popular-news">
                                <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                                <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-carousel">
                        <div class="item-popular-news">
                            <img src="img/img-popular.jpg" class="img-fluid">
                            <div class="body-popular-news">
                                <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                                <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-carousel">
                        <div class="item-popular-news">
                            <img src="img/img-popular.jpg" class="img-fluid">
                            <div class="body-popular-news">
                                <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                                <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-carousel">
                        <div class="item-popular-news">
                            <img src="img/img-popular.jpg" class="img-fluid">
                            <div class="body-popular-news">
                                <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                                <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-carousel">
                        <div class="item-popular-news">
                            <img src="img/img-popular.jpg" class="img-fluid">
                            <div class="body-popular-news">
                                <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                                <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-carousel">
                    <div class="item-popular-news">
                    <img src="img/img-popular.jpg" class="img-fluid">
                    <div class="body-popular-news">
                    <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                    <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                    </div>
                    </div>
                    </div>
                    <div class="item-popular-news">
                        <img src="img/img-popular.jpg" class="img-fluid">
                        <div class="body-popular-news">
                            <a href="#" class="title-popular-news color-white">Бій Мейвезер - Макгрегор</a>
                            <span class="data-popular-news today text-left">Сьогодні,  13:26</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="fb-root"></div>
<script>

         (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.10";
         fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));


         function openWinFb() {
         myWin=open("http://www.facebook.com/sharer.php?u=http://solidbrain.com.ua/","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
         }

</script>

<script>
window.twttr = (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0],
           t = window.twttr || {};
         if (d.getElementById(id)) return t;
         js = d.createElement(s);
         js.id = id;
         js.src = "https://platform.twitter.com/widgets.js";
         fjs.parentNode.insertBefore(js, fjs);

         t._e = [];
         t.ready = function(f) {
           t._e.push(f);
         };

         return t;
         }(document, "script", "twitter-wjs"));
</script>


<script src="https://apis.google.com/js/platform.js" async defer>
         {lang: 'uk'}
</script>