@using Investor.Model
@model IEnumerable<PostPreview>
@{
    var query = ViewBag.Query as PostSearchQuery;
    var categoryName = ViewBag?.CategoryName?.Name;
}
<section class="page-search">
    <div class="container">
        <div class="row">
            <h1 class="title-page-search p-3 p-md-0">Останні новини</h1>
            <div class="search-filter"></div>
            <div class="last-news-wrapper">
                @Html.Partial(Url.Content("../Search/_SearchResultTemplate"), Model as IEnumerable<PostPreview>)
            </div>
            <div class="wrapper-btn-more bnt-more-search">
                <a class="btn-more text-center lastnews" href="/post/getmorelastnews">
                    <span class="circle circle-default-color">
                        <i class="icons icon-arrow-down"></i>
                    </span>Більше новин
                </a>
            </div>
        </div>
    </div>
</section>
